---
title: Disruptions
layout: blog
lang: french
ref: blog
---

<section id="blog" class="container">
    <h1>Disruptions</h1>

    {% for post in site.posts %}
        {% if post.categories contains "blog" %}
        <article class="container">
            <p class="text-center">
                {{ post.date | date: "%d/%m/%Y" }}
                <br/>
                {% for tag in post.tags %}
                    <abbr title="{{site.data.tags[tag].hint}}">{{site.data.tags[tag].emoji}} {{site.data.tags[tag].name}}</abbr>
                    {% unless forloop.last %}·{% endunless %}
                {% endfor %}
            </p>
            <h2 class="text-center">{{post.title}}</h2>

            {{ post.excerpt }}

            <a href="{{ post.url }}">Lire la suite</a>
        </article>
        {% endif %}
    {% endfor %}
</section>