---
title: FAQ
layout: default
lang: french
ref: faq
---

<section id="faq" class="container">
    <h1>Questions fréquentes</h1>

    <p>
        Cette <abbr title="Foire aux questions">FAQ</abbr> répond aux questions les plus fréquentes de nos clients. Cette partie se veut pédagogique et explicative. Nous souhaitons vous faire comprendre notre manière de travailler et son intérêt pour votre entreprise.
    </p>
    <p>
        Si votre question n'est pas écrite, ou que la réponse vous laisse sur votre faim, <a href="contact.html">contactez-nous</a>, nous répondrons avec joie.
    </p>

    <div class="sommaire container-fluid">
        {% assign counter = 1 %}
        <span>Sur la qualité</span>
        <ol>
            {% for post in site.posts %}
                {% if post.categories contains "faq" and post.tags contains "qualite" %}
                    {% assign counter = counter | plus : 1 %}
                    <li><a href="#{{post.ref}}">{{post.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ol>

        <span>Sur les technologies employées</span>
        <ol start="{{ counter }}">
            {% for post in site.posts %}
                {% if post.categories contains "faq" and post.tags contains "technologies" %}
                    {% assign counter = counter | plus : 1 %}
                    <li><a href="#{{post.ref}}">{{post.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ol>

        <span>Sur la gestion de projet</span>
        <ol start="{{ counter }}">
            {% for post in site.posts %}
                {% if post.categories contains "faq" and post.tags contains "gestion" %}
                    {% assign counter = counter | plus : 1 %}
                    <li><a href="#{{post.ref}}">{{post.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ol>

        <span>Sur la formation</span>
        <ol start="{{ counter }}">
            {% for post in site.posts %}
                {% if post.categories contains "faq" and post.tags contains "formation" %}
                    {% assign counter = counter | plus : 1 %}
                    <li><a href="#{{post.ref}}">{{post.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ol>

        <span>Informations pratiques</span>
        <ol start="{{ counter }}">
            {% for post in site.posts %}
                {% if post.categories contains "faq" and post.tags contains "informations" %}
                    {% assign counter = counter | plus : 1 %}
                    <li><a href="#{{post.ref}}">{{post.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>

    <h2 id="qualite">Sur la qualité</h2>

    {% for post in site.posts %}
        {% if post.categories contains "faq" and post.tags contains "qualite" %}
        <article>
            <h3 id="{{post.ref}}">{{post.title}}</h3>
            {{ post.content }}
        </article>
        {% endif %}
    {% endfor %}
        
    <h2 id="technologies">Sur les technologies employées</h2>

    {% for post in site.posts %}
        {% if post.categories contains "faq" and post.tags contains "technologies" %}
        <article>
            <h3 id="{{post.ref}}">{{post.title}}</h3>
            {{ post.content }}
        </article>
        {% endif %}
    {% endfor %}

    <h2 id="gestion">Sur la gestion de projet</h2>

    {% for post in site.posts %}
        {% if post.categories contains "faq" and post.tags contains "gestion" %}
        <article>
            <h3 id="{{post.ref}}">{{post.title}}</h3>
            {{ post.content }}
        </article>
        {% endif %}
    {% endfor %}

    <h2 id="formation">Sur la formation</h2>

    {% for post in site.posts %}
        {% if post.categories contains "faq" and post.tags contains "formation" %}
        <article>
            <h3 id="{{post.ref}}">{{post.title}}</h3>
            {{ post.content }}
        </article>
        {% endif %}
    {% endfor %}

    <h2 id="informations">Informations pratiques</h2>

    {% for post in site.posts %}
        {% if post.categories contains "faq" and post.tags contains "informations" %}
        <article>
            <h3 id="{{post.ref}}">{{post.title}}</h3>
            {{ post.content }}
        </article>
        {% endif %}
    {% endfor %}
</section>