---
title: FAQ
layout: default
lang: french
ref: faq
---

<section id="faq" class="container">
    <h1>Questions fréquentes</h1>

    <p>
        Cette <abbr title="Foire aux questions">FAQ</abbr> répond aux questions les plus fréquentes de nos clients. Cette partie se veut pédagogique et explicative. Nous souhaitons vous faire comprendre notre manière de travailler et son intérêt pour votre entreprise.
    </p>
    <p>
        Si votre question n'est pas écrite, ou que la réponse vous laisse sur votre faim, <a href="contact.html">contactez-nous</a>, nous répondrons avec joie.
    </p>

    <div class="sommaire container-fluid">
        {% assign counter = 1 %}

        {% for categorie in site.data.faq %}
            <span>{{ categorie.title }}</span>
            <ol start="{{ counter }}">
                {% for post in site.posts %}
                    {% if post.categories contains "faq" and post.tags contains categorie.tag %}
                        {% assign counter = counter | plus : 1 %}
                        <li><a href="#{{post.ref}}">{{post.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endfor %}
    </div>

    {% for categorie in site.data.faq %}
        <h2 id="{{categorie.tag}}">{{ categorie.title }}</h2>

        {% for post in site.posts %}
            {% if post.categories contains "faq" and post.tags contains categorie.tag %}
            <article>
                <h3 id="{{post.ref}}">{{post.title}}</h3>
                {{ post.content }}
            </article>
            {% endif %}
        {% endfor %}
    {% endfor %}
</section>