---
title: Atelier Logiciel Sandré
layout: default
lang: french
ref: index
---

<section id="index" class="container">
    <h1>Atelier logiciel Sandré</h1>
    <p>
        Nous produisons des logiciels fiables, sécurisés et robustes, grâce aux bonnes pratiques du <b>génie logiciel</b>. Nous travaillons en interaction permanente avec nos clients afin de livrer en continu de la valeur ajoutée. Les tests sont les clauses du contrat que nous passons. Notre code est reprenable par d’autres développeurs, vous n’êtes pas enchaînés à nous par un code ésotérique.
    </p>
    <p>
        L’Atelier peut également auditer et redresser les logiciels que vous lui confiez. Nous sommes experts en <b>qualité logicielle</b>. Si vos équipes ont de plus en plus de mal à produire des features et que leur satisfaction baisse en même temps que celle des utilisateurs, votre projet est en danger. Nous pouvons intervenir lors d'une mission de quelques mois, afin de corriger les pratiques et d'éviter que vos développeurs ne s'épuisent à la tâche et partent.
    </p>
    <p>
        Enfin, nous formons aux pratiques éprouvées de l’<b>artisanat logiciel</b>. Nous nous appuyons sur la <b>recherche universitaire</b> en informatique afin de rester à la pointe. Une veille hebdomadaire traitée à la main nous permet de capitaliser des connaissances bien avant leur arrivée dans les articles de blogs et magazines spécialisés.
    </p>
    <p>
        Nous signalons à notre clientèle que nous n'acceptons aucune forme de <a href="faq.html#regie">régie à temps plein</a>.
    </p>
    <p class="no-indent">
        Consultez notre <a href="faq.html">FAQ</a>, notre <a href="portfolio.html">portfolio</a> ou la <a href="presentation.html">présentation de nos activités</a> si vous n’êtes pas convaincu.
    </p>
    <p class="no-indent">
        <a href="contact.html">Contactez-nous</a> pour en savoir plus.
    </p>

    <h2>Dernières actualités</h2>

    <div>
        {% for post in site.posts %}
        {% if post.categories contains "actualites" and post.lang == 'french' %}
        <article>
            <h3 class="category-actualites"><a href="{{ post.url }}">{{ post.date | date: "%d/%m/%Y" }} : {{ post.title }}</a></h3>
            {{ post.excerpt }}
            <a href="{{ post.url }}">Lire la suite</a>
        </article>
        {% endif %}
        {% endfor %}
    </div>
</section>