---
title: Portfolio
layout: default
---

<section id="portfolio" class="container">
    <h1>Portfolio</h1>

    <p>Cette page regroupe les projets que nous sommes fiers d'avoir réalisé. Tous sont indiqués, mais si vous êtes pressé, nous vous proposons une sélection parfaitement subjective.</p>

    <p>Pour illustrer notre activité, nous avons choisi <a href="#oxacontrole">OxaControle</a> notre plus vieux projet encore maintenu et installé, préexistant même à l'Atelier, le <a href="#albus">Pont SEPA-Chargebee</a> réalisé pour SNAL/Albus et le refactoring stratégique du <a href="#meritis">projet SIRH de Méritis</a>, afin de représenter notre savoir-faire.</p>
    <p>Cette liste va évoluer, elle est notre vitrine et sera mise à jour lorsque nous aurons achevé de nouveaux projets.</p>

    <h2>Projets en cours</h2>

    {% for post in site.posts %}
        {% if post.categories contains "portfolio" and post.completed == false %}
        <article>
            {{ post.content }}
        </article>
        {% endif %}
    {% endfor %}

    <h2>Projets complétés</h2>

    {% for post in site.posts %}
        {% if post.categories contains "portfolio" and post.completed == true %}
        <article>
            {{ post.content }}
        </article>
        {% endif %}
    {% endfor %}
</section>