---
title: Disruptions
layout: blog
lang: french
ref: veille
excerpt: Veille académique autour du développement de logiciels. Elle est publié 2 fois par semaine sur LinkedIn et ici-même.
---

<section id="veille" class="container">
    <h1>Veille Académique</h1>

    <p>
        Commencée en 2020, mais publiée à partir de 2021, cette veille académique est le fruit d'un fastidieux travail de lecture, tri, analyse, recoupement, classification et vulgarisation.
    </p>

    {% assign tags = "" %}

    {% capture posts %}
    {% for post in site.posts %}
        {% if post.categories contains "veille" %}
        <article class="container filtered" data-category="{{post.tags | join: ' '}}">
            <h2 class="text-center">{{post.title}}&nbsp;<a class="fs-4" href="{{ post.url }}">🔗</a></h2>
            <p class="text-center">
                {% for tag in post.tags %}
                    {% assign tags = tags | append: ", " | append: tag  %}
                    {% assign tag_data = site.data.tags | where: "tag", tag | first %}
                    <abbr title="{{tag_data.hint[page.lang]}}">{{tag_data.emoji}} {{tag_data.name[page.lang]}}</abbr>
                    {% unless forloop.last %}·{% endunless %}
                {% endfor %}
            </p>

            {% if post.long_post == true %}
                {{ post.excerpt }}

                <a href="{{ post.url }}">Lire la suite</a>
            {% else %}
                {{ post.content }}
            {% endif %}

            {% include post_dois.html %}
        </article>
        {% endif %}
    {% endfor %}
    {% endcapture %}

    {% assign used_tags = tags | split: ", " | uniq %}
    <div class="form-checks tags_select">
        {% for used_tag in used_tags %}
            {% if used_tag == "" %}
                <input type="radio" name="tags" id="reset" class="form-check-input" value="All" />
                <label class="form-check-label fw-bold" for="reset">
                    ❌ Tous les posts
                </label>
            {% else %}
                {% assign data = site.data.tags | where: "tag", used_tag | first %}
                <input type="radio" name="tags" id="{{used_tag}}" class="form-check-input" value="{{used_tag}}"/>
                <label class="form-check-label" for="{{used_tag}}">
                    <abbr title="{{data.hint[page.lang]}}">{{data.emoji}} {{data.name[page.lang]}}</abbr>
                </label>
            {% endif %}
        {% endfor %}
    </form>

    <div class="posts">
        {{posts}}
    </div>
</section>