<head>
    <meta charset="UTF-8" />
    <meta name="description" content="L'Atelier Logiciel Sandré produit des logiciels de qualité, du bas-niveau à l'UI. Nous proposons également des formations et du coaching." />
    <meta name="keywords" content="développement web csharp logiciel programme programmation code coaching formation agile" />
    <meta name="author" content="Enzo Sandré" />

    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            Atelier logiciel Sandré - Artisanat du développement
        {% endif %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet" />

    <link rel="stylesheet" href="/resources/css/style.css" />
    <link rel="stylesheet" href="/resources/css/{{ include.style }}" />
    {% if page.lang == "english" %}
        <link rel="stylesheet" href="/resources/css/english.css" />
    {% endif %}

    <link rel="icon" type="image/png" href="/resources/images/logo.png">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" />

    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for post in posts %}
        <link rel="alternate" hreflang="{{ site.data.locales[post.lang].hreflang }}" href="{{ post.url }}" />
    {% endfor %}

    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
        <link rel="alternate" hreflang="{{ site.data.locales[page.lang].hreflang }}" href="{{ page.url }}" />
    {% endfor %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YBGD63ZRND"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YBGD63ZRND');
    </script>
</head>