<body class="container-md">
    {% include layout_bandeau.html %}
    
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid col-sm-12">
            {% include layout_logo.html %}

            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarContent" 
                aria-controls="navbarContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% assign translations_data = site.data.translations %}
            {% assign with_same_lang = site.pages | where: "lang", page.lang %}

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav">
                    {% for menu_item in site.data.menu.pages %}
                        {% assign with_same_lang_and_ref = with_same_lang | where: "ref", menu_item.ref %}
                        {% for candidate_page in with_same_lang_and_ref %}
                            <li {% if menu_item.ref == page.ref %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                                <a class="nav-link" href="{{ candidate_page.url }}">{{ menu_item.title[page.lang] }}</a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                    <li class="nav-item">
                        <button 
                            class="btn" type="button" 
                            data-bs-toggle="collapse" data-bs-target="#navbarToggleSearch" 
                            aria-controls="navbarToggleSearch" aria-expanded="false" 
                            aria-label="{{translations_data.search_placeholder[page.lang]}}">
                            <span style="font-size:1.3em">🔍</span>
                        </button>
                    </li>

                    {% assign posts=site.posts | where:"ref", page.ref %}
                    {% for translation in posts %}
                        {% if page.lang != translation.lang %}
                        <li class="nav-item">
                            <a href="{{ translation.url }}" class="nav-link {{ translation.lang }}">
                                {{ translations_data.switch_lang[translation.lang] }}
                            </a>
                        </li>
                    {% endif %}
                    {% endfor %}

                    {% assign with_same_ref=site.pages | where:"ref", page.ref %}
                    {% for translation in with_same_ref %}
                    {% if page.lang != translation.lang %}
                    <li class="nav-item">
                        <a href="{{ translation.url }}" class="nav-link {{ translation.lang }}">
                            {{ translations_data.switch_lang[translation.lang] }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <form class="container-fluid col-sm-12 collapse" id="navbarToggleSearch">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">🔍</span>
            <input 
                id="search-input" type="text" class="form-control" 
                placeholder="{{translations_data.search_placeholder[page.lang]}}" />
        </div>

        <ul id="results-container" class="rounded list-group"></ul>
    </form>

    {% if include.content_wrapper %}
        {% include {{include.content_wrapper}} %}
    {% else %}
        {{ content }}
    {% endif %}

    {% include layout_footer.html %}

    <script src="/resources/script/bootstrap.min.js" type="text/javascript"></script>
    <script src="/resources/script/simple-jekyll-search.min.js" type="text/javascript"></script>

    <script>
        SimpleJekyllSearch({
            searchInput: document.getElementById('search-input'),
            resultsContainer: document.getElementById('results-container'),
            json: '/search_{{ page.lang }}.json',
            searchResultTemplate: '{% include search_result_template.html %}',
            noResultsText: '<li class="no-result list-group-item">{{ translations_data.search_no_result[page.lang] }}</li>',
            limit: 20,
            debounceTime: 10
        })
    </script>
</body>