<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-12">
                <img src="/resources/images/logo.png" width="50" />
            </div>

            <div class="col-md-4 col-sm-12">
                <p>4, rue de la rivière<br/>Le Chaillot<br/>17160 Sonnac</p>
            </div>

            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="footer-copyright">
                    <p>
                        © 2022 Atelier logiciel Sandré.<br/>
                        Les icones de cette page font parties du jeu d'icones <a href="https://fontawesome.com/icons">FontAwesome</a>.
                    </p>
                </div>
                <p><a href="/feed.xml"><img src="resources/images/rss-solid.svg" alt="RSS" class="rss"> Flux RSS</a></p>
            </div>
        </div>
    </div>
</footer>