<h1>{{ page.title }}</h1>
<p class="meta"> 
	✒️ Enzo Sandré	· 📆 {{ page.date | date: "%d/%m/%Y" }} 
	{% for tag in page.tags %}
		{% assign tag_data = site.data.tags | where: "tag", tag | first %}
        · <abbr title="{{tag_data.hint}}">{{tag_data.emoji}} {{tag_data.name}}</abbr>
    {% endfor %}
</p>

<article class="post container">
	{% if page.tags contains "old" %}
	<p class="oldie text-center">
	🕸️ Cet article est ancien. Je ne renie rien de ce que j'ai pu écrire, néanmoins, mon point de vue sur certains sujets a évolué. 🕸️
	</p>
	{% endif %}

	{{content}}

	<p class="text-end">Enzo Sandré</p>

	{% if page.categories contains "veille" %}
		{% include post_dois.html %}
	{% endif %}
</article>