---
---

h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

nav, footer {
	background-color: #d13536;
}

nav li a, footer a, footer p, .nav-link {
    color: #fdf6f7;
}

nav li > a:hover,
nav li > a:focus,
nav li a:hover,
nav li.active > a {
    text-decoration: underline;
    color: white;
}

.navbar-brand {
	padding: 15px;
}

.navbar-brand img, footer img {
	filter: brightness(1000%);
}

.meta {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 50px;
}

footer {
    margin-top: 60px;
}

.excerpt {
	font-weight: 500;
}

.oldie {
    background-color: yellow;
}

.tags_select input {
    display: none;
}

.tags_select input:not(:checked):not(#reset) + label {
    filter: grayscale(100%);
    font-weight: 400;
    font-size: 1em;
}

.tags_select input:not(#reset) + label {
    font-weight: 600;
    font-size: 1.2em;
}

#reset, #reset + label {
    cursor: pointer;
    font-size: 1.2em;
}

.dois {
    display: inline;
}

.dois ~ ul li, .dois ~ ul {
    list-style: none;
    white-space: nowrap;
}

.thumbnail {
    height: 100%;
}

@media print {
    p {
        text-align: justify;
    }

    body, article {
        max-width: none !important;
    }
}

[value="All"]:checked ~ .posts [data-category] {
    display: block;
}

{% for tag in site.data.tags %}
    [value='{{ tag.tag }}']:checked ~ .posts .filtered:not([data-category~="{{ tag.tag }}"])
    {% unless forloop.last %},{% endunless %}
{% endfor %}
{
    display: none;
}