body {
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

.bandeau {
    background-color: rgba(255, 255, 0, 0.7);
    line-height: 2em;
    font-size: 1.5em;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.4;
    font-kerning: normal;
}

h1 {
    font-size: 3.29em;
    text-align: center;
    letter-spacing: -0.06em;
}

h2 {
    font-size: 2.35em;
    letter-spacing: -0.05em;
}

h3 {
    font-size: 1.68em;
    color: #111;
    letter-spacing: -0.03em;
}

img, figure {
    margin: 10px;
}

figure>img{
    margin: 0;
}

p, li, dt, dd, img, blockquote {
    color: #333;
    font-size: 1.2em;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.01em;
    font-kerning: none;
}

blockquote::after {
    content: "”";
    font-size: 1.68em;
    color: #555;
}

blockquote::before {
    content: "“";
    font-size: 1.68em;
    color: #555;
}

p + p, ul + p, ol + p, blockquote {
    text-indent: 1em;
}

article>p + p {
    text-indent: 0;
}

section {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80ch;
}

a {
    color: #8C2323;
    font-weight: 400;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #CD3838;
    outline: none;
}

ul, ol {
  padding-left: 0;
  list-style-position: outside;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.no-indent {
    text-indent: 0;
}

.sommaire ol {
    list-style-position: inside;
}

.sommaire a {
    color: #333;
    font-weight: 300;
    text-decoration: underline #333;
}

.sommaire span {
    font-size: 1.68em;
}

article, .sommaire {
    padding: 10px 25px;
    background-color: #F1F1F1;
    margin: 15px 0;
}

/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

nav {
    margin-top: 50px;
}

nav li a {
    transition: all 0.4s ease-in-out;
    font-size: 16px;
    letter-spacing: 1px;
    padding-right: 22px;
    padding-left: 22px;
}

nav li.active > a,
nav li.active > a:hover,
nav li.active > a:focus {
    cursor: default;
}

#navbarContent {
    justify-content: flex-end;
}

dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

dl div {
    margin: 15px;
    align-self: center;
}

dt, dd {
    display: inline-block;
    vertical-align: middle;
}

dt img {
    width: 1.5em;
}

dt img::after {
    content: " : ";
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    font-size: 0.8em;
    padding: 30px 0;
}

footer a {
    color: #555;
}

footer .footer-copyright {
    padding-top: 5px;
}

footer img {
    margin: 10px auto;
    display: block;
}

footer img.rss {
    width: 24px;
    display: inline-block;
}

footer div p {
    text-align: center;
}

/*---------------------------------------
   Aside section
-----------------------------------------*/

aside {
    border-top: 1px solid #f0f0f0;
    padding: 30px 0;
    font-size: 0.8em;
}

article aside {
    padding-top:  0;
}

aside a {
    color: #555;
}

/*---------------------------------------
   Portfolio section
-----------------------------------------*/

#portfolio h2 b::after {
    content: " - ";
    font-weight: lighter;
}

summary {
    cursor: text;
}

summary::marker{
    display: none;
}

details:not(.nodetails) summary::after {
    font-size: 2.5 rem;
    content: " ► L'histoire complète";
    color: #8C2323;
    cursor: pointer;
}

details:not(.nodetails)[open] summary:not(.nodetails):after {
    font-size: 2.5 rem;
    content: " ▼ Voir moins";
    color: #555;
}

details>summary {
    list-style: none;
}


/*---------------------------------------
   Search
-----------------------------------------*/

#results-container li.category-actualites::before {
    content: '📰 ';
}

#results-container li.category-blog::before {
    content: '✒️ ';
}

#results-container li.category-veille::before {
    content: '🔬 ';
}